.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin-left: 5%;
}

.label {
  font-weight: bold;
}

.infoBlurb {
  margin-bottom: 8px;
}

.sectionHeader {
  font-size: 30px;
}

.personalInfo {
  border: 1px solid #000000;
  padding: 20px;
  max-width: 500px;
}

.tierDisplay {
  border: 1px solid #000000;
  padding: 20px;
}

.tierCards {
  display: flex;
}

.accountsDisplay {
  border: 1px solid #000000;
  padding: 20px;
}

.fullName {
  font-size: 20px;
}

.tierCard {
  border: 1px solid #000000;
  padding: 5px;
  margin: 8px;
  max-width: 300px;
}

.benefitText {
  margin-bottom: 5px;
}

.benefitsItems {
  margin: 2px;
}

.username {
  font-size: 20px;
}
