.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionHeader {
  font-size: 30px;
}

.personalInfo {
  border: 1px solid #000000;
  padding: 20px;
}

.tierDisplay {
  border: 1px solid #000000;
  padding: 20px;
}

.accountsDisplay {
  border: 1px solid #000000;
  padding: 20px;
}

.fullName {
  font-size: 20px;
}

.tierCard {
  border: 1px solid #000000;
  margin: 2px;
  max-width: 300px;
}

.benefitHeader {
  margin-bottom: 5px;
}

.benefitsItems {
  margin: 2px;
}
